html,
body {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav.navbar a:hover {
  text-decoration: none;
}

.leaflet-container {
  width: 100%;
  height: 70vh;
}
